.task_card {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 25px;
}

.task_text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.task_card_bottom_line {
    display: flex;
    justify-content: space-between;
}

.task_delete {
    display: flex;
    width: 35px;
    height: 20px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.task_delete:hover {
    background-color: #ebebeb;
}

.delete_icon {
    width: 20px;
    height: 20px;
    opacity: 50%;
    transition: all 0.3s ease-in-out;
}