.app_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_header > form {
    width: 60%;
}

.task_input {
    font-size: 20px;
    font-weight: 500px;
    background-color: #f9f9f9;
    color: #000;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 15px;
    width: 100%;
}

.task_input ::placeholder {
    color: #686868;
}

.task_form_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_status {
    font-size: 16px;
    font-weight: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 210px;
    padding: 10px;
}

.task_submit {
    font-size: 16px;
    font-weight: 500px;
    background-color: rgb(50, 50, 240);
    color: #f9f9f9;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    cursor: pointer;
    margin-left: 10px;
}